* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

main {
  display: flex;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 25px 30px 0 70px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo .logo-text, .signin-card .logo-text{
  font-family: Island Moments;
  font-weight: 400;
  font-size: 40px;
  color: #FF7A18;
}

.logo .btn-primary {
  padding: 10px 35px;
  border-radius: 7px;
  border: 2px solid #1E88E5;
  background-color: #fff;
  font-family: Inter;
  color: #1E88E5;
  font-size: 14px;
  font-weight: 600;
}

.logo a .btn-primary {
  cursor: pointer;
}

.main-container {
 margin-top: 130px;
}

header h1 {
  margin-bottom: 25px;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
  font-style: Bold;
  color: #1F2937;
}

header p {
  font-family: Inter;
  font-weight: 500;
  font-size: 15px;
  color: #1F2937;
  font-style: Medium;
  line-height: 1.5;
}

.info {
  margin-top: 35px;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.info .info-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 48%;
  margin-bottom: 5px;
}

.info img {
  background-color: #FFE1C4;
  padding: 10px;
  border-radius: 13px;
}

.info .info-item:nth-child(3) img {
    width: 40px;
}

.info p {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  font-style: Medium;
  color: #000000;
}

.button {
  max-width: 557px;
}

.button .order-btn button, .continue .order-btn {
 background-color: #FF7A18;
 width: 100%;
 color: #FFFFFF;
 padding: 18px 0;
 border: none;
 border-radius: 10px;
 font-family: Inter;
 font-weight: 600;
 font-size: 16px;
 margin-bottom: 20px;
 line-height: 24px;
 cursor: pointer;
}

.button .btn button{
  width: 100%;
  border: 2px solid #1E88E5;
  border-radius: 10px;
  padding: 18px 0;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  color: #1E88E5;
  background-color: #FFFFFF;
  line-height: 24px;
}

.terms {
  margin-top: 230px;
  padding: 10px 25px;
}

.terms .line {
  border: 1px solid #F3F4F6;
  margin-bottom: 10px;
}

.terms .terms-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.terms-info p {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: #1F2937;
  line-height: 20px;
}

.terms-info .policy {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: #64B5F6;
  line-height: 20px;
}

.terms-info .services {
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  color: #64B5F6;
  line-height: 20px;
}

footer {
 padding: 65px 0;
 background-color: #62412E;
 margin-top: -4px;
}

footer .footer-info {
  display: flex;
  justify-content: space-around;
}

.footer-info .details{
  max-width: 148px;
}

.details .logo-text {
  font-family: Island Moments;
  font-weight: 400;
  font-size: 27px;
  color: #FF7A18;
}

.details .text {
  font-family: Jost;
  font-size: 15px;
  font-weight: 400;
  color: #FFFFFF;
}

.footer-info .footer-links {
  width: 148px;
}

.footer-links h4, .contact h4 {
  font-family: Jost;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}

.footer-links ul, .contact ul, .socials ul {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  list-style: none;
  line-height: 24px;
  color: #FFFFFF;
}

.footer-info .contact {
  min-width: 230px;
  max-height: 115px;
}

.footer-info .socials {
  width: 148px;
  height: 100px;
}

.footer-links ul li a, .contact ul li a, .socials ul li a {
  text-decoration: none;
  color:#FFFFFF;
}

.footer-sm .sm-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
  margin-top: 20px;
}

.sm-info p {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  color: #FFFFFF;
  opacity: 65%;
}

.sm-info .sm-arrow {
    width: 50px;
    height: 50px;
    background-color: #007BFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signin-page {
  display: flex;
  min-height: 100vh;
}

.signin-page .signin-hero {
  flex: 1;
  position: relative;
}

.signin-hero .overlay {
  position: absolute;
  inset: 0;
  background-color: #FF7A18B2;
  display: flex;
  justify-content: center;
  padding: 300px 65px;
}

.overlay .overlay-text {
  max-width: 270px;
  font-family: Inter;
  color: #FFFFFF;
  height: 135px;
}

.overlay-text h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.overlay-text p {
  font-size: 16px;
  text-align: center;
}

.signin-container {
  flex: 1;
  margin: 80px 90px;
  padding: 10px;
}

.signin-card {
  text-align: center;
  margin-bottom: 10px;
}

.signin-card h3 {
  font-family: Inter;
  font-size: 24px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 20px;
}

form .form-group {
  margin-bottom: 20px;
}

.form-group .label {
  font-family: Inter;
  font-size: 14px;
  color: #3B4758;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.form-group .input-details {
  border: 1px solid #BDBDBD;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  gap: 12px;
  background: white;
}

.input-details img {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
}

.input-details input {
  border: none;
  outline: none;
  padding: 16px 0;
  width: 100%;
  font-size: 14px;
} 

.input-details input::placeholder {
  font-family: Inter;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
}

.forget-pass a {
  display: flex;
  justify-content: flex-end;
  font-family: Inter;
  color: #1E88E5;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 20px;
}

.continue .divider {
  padding: 12px 0;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: #1F2937;
  margin-top: -20px;
}

.cont-socials .google {
  margin-top: 20px;
}

.cont-socials .google, .cont-socials .facebook {
  border: 1px solid #BDBDBD;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  padding: 4px 113px;
  margin-bottom: 20px;
}

.cont-socials img {
  width: 40px;
  height: 40px;
}

.cont-socials a {
  color: #3B4758;
  text-decoration: none;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.cont-socials .facebook a {
   margin-right: -10px;
}

.new {
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  color: #3B4758;
}

.new span a{
  text-decoration: none;
  color: #1E88E5;
}

.term {
  margin-top: 8px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox-wrapper input {
  display: none;
}

.custom-checkbox {
  width: 18px;
  height: 18px;
  border: 2px solid #1E88E5;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-checkbox img {
  width: 10px;
  height: 10px;
  display: none;
}

.checkbox-wrapper input:checked + .custom-checkbox img {
  display: block;
}

.checkbox-wrapper input:checked + .custom-checkbox {
  background-color: #1E88E5;
}

.term-text a {
  color: #1E88E5;
  text-decoration: none;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}